BasedOnStyle: Microsoft
IndentWidth: 4
UseTab: Never
ColumnLimit: 100
AllowShortIfStatementsOnASingleLine: false
BreakBeforeBraces: Allman
SortIncludes: false
IncludeBlocks: Preserve
ReflowComments: true
InsertNewlineAtEOF: true
SpaceAfterCStyleCast: true
PointerAlignment: Left
AlignAfterOpenBracket: Align
BinPackParameters: false
BinPackArguments: false
AllowAllParametersOfDeclarationOnNextLine: false
PackConstructorInitializers: Never
